{% extends 'dashboard.html' %}
{% block body %}
    <h1 class="page-header">News feed</h1>
    <p>You can find here your scored teachers and more, thanks for being here.</p>
    <h2 class="sub-header">List of your loved teachers</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock body %}